target/
data/scores_*.csv
analysis
data
aws/fault-localization.pem
killmap/bin/
__pycache__/
*.py[cod]
*$py.class
defects4j/
.vscode
automation/bin
automation/include
automation/lib
automation/pyvenv.cfg